<% if (typeof images == "undefined" || images.length == 0) { %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <center>
          <div class="error-main">
            <h1>Drag Files Here</h1>
            <p>
              To start a search, drag and drop image files here.
            </p>
          </div>
        </center>
      </div>
    </div>
  </div>
<% } else { %>
  <div id="images" class="margin-around">
  <% for (var i = 0; i < images.length; i++) { %>
      <img height="auto" width="100px" src="<%= images[i].path %>" data-action="zoom">
  <% } %>
  </div>
<% } %>

<script>
$(function() {
  var wall = new Freewall("#images");
  wall.fitWidth();
});
</script>
