<% if ((typeof images == "undefined" || images.length == 0) && search == false) { %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <center>
          <div class="error-main">
            <h1>Drag Files Here</h1>
            <p>
              To start a search, drag and drop image files here.
            </p>
          </div>
        </center>
      </div>
    </div>
  </div>
  <% } else if ((typeof images == "undefined" || images.length == 0) && search == true) { %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center>
            <div class="error-main">
              <h1>No Search Results</h1>
              <p>
                Character Recognition does not work perfectly. Try a different search query or add more images.
              </p>
            </div>
          </center>
        </div>
      </div>
    </div>
<% } else { %>
  <div id="images" class="margin-around">
  <% for (var i = 0; i < images.length; i++) { %>
      <img height="auto" width="100px" src="<%= images[i].path %>" data-action="zoom">
  <% } %>
  </div>
<% } %>

<script>
$(function() {
  var wall = new Freewall("#images");
  wall.fitWidth();
});
</script>
