.navbar {
  background-color: #fff;
  border-radius: 0px;
}

.navbar-default: {
  border-bottom-color: #263F07;
}

.navbar-default .navbar-nav > li > a {
  color: #263F07;
}

.btn-green-outline {
  color: #263F07;
  background-color: transparent !important;
  border-color: #263F07;
}

.btn-green-outline:hover {
  color: #fff;
  background-color: #263F07 !important;
  border-color: #263F07;
}
