.navbar {
  background-color: #fff;
  border-radius: 0px;
}

.navbar-default: {
  border-bottom-color: #00B16A;
}

.navbar-default .navbar-nav > li > a {
  color: #00B16A;
}

.btn-green-outline {
  color: #00B16A;
  background-color: transparent !important;
  border-color: #00B16A;
}

.btn-green-outline:hover {
  color: #fff;
  background-color: #00B16A !important;
  border-color: #00B16A;
}
